*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
}
.caja1{
    height: 200px;
    width: 200px;
    background-color: gray;
    padding: 30px;
    margin: 20px auto;
    border:10px solid red;
    
}
.caja2{
    height: 50px;
    width: 50px;
    background-color: rgb(249, 163, 236);
    padding: 30px;
    margin: 20px auto;
    border:10px solid rgb(186, 30, 221);
}
.caja3{
    height: 300px;
    width: 150px;
    background-color: rgb(189, 226, 202);
    padding: 30px;
    margin: 20px auto;
    border-top: 10px solid rgb(101, 41, 230);
    border-left:10px solid rgb(206, 209, 23);
    border-right:10px solid rgb(214, 16, 16);
    border-bottom:10px solid rgb(114, 202, 85);
}
.caja4{
    height: 200px;
    width: 500px;
    background-color: rgb(255, 250, 250);
    padding: 30px;
    margin: 20px auto;
    border-top: 10px dashed rgb(140, 6, 250);
    border-left:10px dashed rgb(140, 6, 250);
    border-right:10px dashed rgb(248, 6, 212);
    border-bottom:10px dashed rgb(248, 6, 212);
}
.caja5{
    height: 200px;
    width: 70px;
    background-color: rgb(0, 166, 249);
    padding: 30px;
    margin: 20px auto;
    border:10px double rgb(1, 236, 79);
}
.caja6{
    height: 100px;
    width: 500px;
    background-color: rgb(218, 159, 255);
    padding: 30px;
    margin: 20px auto;
    border-left:10px ridge rgb(6, 250, 148);
    border-right:10px solid rgb(222, 141, 79);
}
.caja7{
    height: 500px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    margin: 20px auto;
    border:10px solid black;
    border-left:10px solid rgb(51, 54, 103);
    border-right:10px solid rgb(51, 54, 103);
}
.caja8{
    height: 100px;
    width: 100px;
    background-color: rgb(236, 125, 195);
    padding: 30px;
    margin: 20px auto;
    border:10px solid black;
    border-top: 10px solid #fff047;
    border-bottom:10px solid rgb(252, 159, 60);
}
.caja9{
    height: 200px;
    width: 200px;
    background-color: rgb(49, 143, 107);
    padding: 30px;
    margin: 20px auto;
    border:10px solid black;
}
.caja10{
    height: 100px;
    width: 500px;
    background-color: rgb(0, 76, 87);
    padding: 30px;
    margin: 20px auto;
    border:10px solid rgb(255, 0, 187);
}