*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    background: palevioletred;
}
@media ( min-width: 400px) and (max-width:800px){
    body{
        background: seagreen;
    }
}
@media ( min-width: 200px) and (max-width:400px){
    body{
        background: gray;
    }
}
@media ( min-width: 500px) and (max-width:1000px){
    body{
        background: salmon;
    }
}
@media ( min-width: 1000px) and (max-width:1200px){
    body{
        background: burlywood;
    }
}
@media ( min-width: 1500px) and (max-width:2000px){
    body{
        background: cornflowerblue;
    }
}